/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(2, 1, 1, 0.2);
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    text-decoration: none;
    color: var(--secondary-color);
    letter-spacing: 3px;
    padding: 20px 20px;
    transition: color 0.3s;
}

.navbar-item:hover {
    color: var(--link-hover-color);
}

.navbar-right {
    display: flex;
}

/* Header Styles */
.header {
    position: relative;
    max-width: 100%;
}

.header-image {
    width: 100%; /* Aumenta a largura para 100% do contêiner pai */
    height: 450px; /* Ajusta a altura automaticamente para manter a proporção */
    filter: brightness(50%);
    
}

.header-text {
    position: absolute;
    bottom: 20px; /* Mantenha se quiser que fique a 20px do fundo */
    left: 50%; /* Move o texto para o centro horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    color: var(--header-bg-color);
    padding: 30px;
    background-color: rgba(241, 227, 227, 0);
    text-align: center; /* Centraliza o texto dentro do contêiner */
}


/* Content Styles */
.content {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

/* About Section Styles */
.about {
    display: flex;
    flex-direction: column;
    padding: 64px 0;
}

.about-image {
    flex: 2;
}

.about-text {
    flex: 3;
    padding: 10px;
}

.about-img {
    border-radius: 60px;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.about-img:hover {
    transform: scale(1.05);
}

/* Menu Section Styles */
.menu {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.menu-content {
    flex: 5;
    padding: 30px;
}

.menu-image {
    flex: 1;
}

.menu-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.menu-img:hover {
    transform: scale(1.05);
}

/* Contact Section Styles */
.contact {
    padding: 64px 0;
}

/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: rgb(255, 255, 255);
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 10px;
}

/* Headings */
h1 {
    font-size: 35px; /* Define o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    color: aliceblue;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    /* Ajustes para Tablets */
    .about {
        flex-direction: row;
    }
    .menu {
        flex-direction: row;
    }
    .menu-content {
        padding: 50px;
    }
}

@media (min-width: 1024px) {
    /* Ajustes para Computadores */
    .menu-content {
        padding: 90px;
    }
    .menu-img {
        width: 400px;
        height: 250px;
    }
}

@media (max-width: 767px) {
    /* Ajustes Específicos para Celulares */
    .navbar-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-text {
        font-size: 18px;
    }

    .content {
        padding: 15px;
    }

    .about {
        flex-direction: column;
        padding: 32px 0;
    }

    .menu-content {
        padding: 20px;
    }

    .menu-img {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}
